* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color:  #0005;
}
.navbar-brand {
    color: #ffffff;
    font-weight: 600;
}
.toggler-name {
    color: #ffffff;
}
div ul li a {
    text-decoration: dashed;
    font-size: 20px;
    color: #fff;
    padding: 30px;
}
a:hover {
    font-weight: 700;
    transition: 1s all;
    
}
#active{
    background-color: rgb(151, 241, 151);
    height: 110;
}